*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: 'Artifika',Helvetica, Arial, sans-serif;
    width:100%;
    height: 100%;
    font-size: 10px;
}
@media all and (max-width: 768px){
  .animated.bounceInUp{
    margin-top: 30px;
    font-size: 5rem;
  }
  .animated.bounceInUp h1{
    font-size: 22px;
    margin-bottom: 30px;
  }

  #app .login1 .logo img{
    height:60px;
    width:230px;
    margin-top: 14rem;
  }
  #app .login-form img{
      width:40%;
      margin-top:-8px;
  }

  #app .login-form {
      width: 60%;
      height:56%;
      padding: 2rem 2rem 2rem 2rem;
      margin-top: 10rem;
  }

  .login-form h2{
      font-size: 180%;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    form div div{
      font-size: 0.8rem;
      margin-bottom: -10px;
    }
    .form-group label{
      font-size:1.1rem;
    }
    .form-group input.form-control{
      font-size: 10px;
      height:20px;
    }
    .login-form .btn.btn-default{
      font-size: 12px;
      margin-top: 1.5rem;
      padding:4px 6px 4px 6px;
    }
    /*home*/
    .navbar-header button{
      margin:15px 100px 0px 0px;
      background-color: orange;
    }

    .restaurant.rest {
      margin:110px 0px 0px 0px;
    }
    .carousel-inner{
        margin-left:-10px;
    }
}
@media only screen and (max-width:500px){
  ul.nav.navbar-nav.navbar-right{
    background-color: lightgray;
    width:30%;
    margin-left:460px;
    z-index:2;
    position: absolute;
  }
  .navbar-default .navbar-collapse{
    border:0;
  }
  ul.nav.navbar-nav.navbar-right li a{
    border-bottom: 1px solid gray;
    padding-left:20px;
  }
}
@media only screen and (min-width: 768px){
  #app .login1 .logo img{
    width:40%;
    height:35%;
    margin-top: 14rem;
  }
  .animated.bounceInUp h1{
    font-size: 5.8rem;
    margin-bottom: 5px;
  }

  .animated.bounceInUp{
    font-size: 12rem;
  }

  #app .login-form {
      width: 26%;
      padding: 2rem 2rem 2rem 2rem;
      margin-top: 10rem;
  }
  form div div{
    font-size: 13px;
  }
  .login-form .btn.btn-default{
    width:99px;
    font-size: 15px;
  }
  /*home page*/

}
#app .login {
    width:100%;
    height:100%;
    background: url('img/back.jpg');
    background-size: cover;
    background-color: #cb202d;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app .login1{
  background-color: rgba(50,150,150,0.35);
  height:100%;
  width:100%;
  /*width:inherit;*/
}
#app .login1 .logo{
  display: flex;
  justify-content: center;
}
.animated.bounceInUp{
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: 'Artifika',serif;
  text-align: center;
  color:black;
}
.animated.bounceInUp h1{
  font-weight: bold;
  color:rgba(38,12,9,1);
}
#app .login-form {
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255,255,255,0.8);
    box-shadow: 3px 5px 5px rgba(17,4,3,1);
    border: 1px solid black;
    text-align: center;
    font-family: 'Artifika',serif;
}

.login-form h2{
  color:rgba(24,56,28,1);
}
form div div{
  text-align: left;
  padding-left:0.7rem;
  color:gray;
}
.login-form .btn.btn-default{
  background-color: rgba(244,79,2,0.8);
}
.login-form .btn.btn-default:hover,.login-form .btn.btn-default:focus{
  color:black;
}


/*for header*/
.hero {
    margin-bottom: 2rem;
    font-size: 5rem;
    color: white;
    display: flex;
    margin-top:4rem;
}
#app .navbar {
    /*background:#e3e3e3;*/
    /*background: transparent;*/
    background: linear-gradient(360deg,#c3c3c3,white);
    border:0;
    padding-left: 15px;
}
#app .navbar.active{
  background: linear-gradient(360deg,#c3c3c3,white);
  border-bottom: 1px solid gray;
  /*width:20px;*/
  height: 62px;
  padding:0px 30px 0px 30px;
}
#app .navbar.active li a{
  color:gray;
  padding-top: 22px;
  }
#app .navbar a {
    color: orange;
    /*margin-top: 10px;*/
    font-size: 1.6rem;
    font-weight: bold;
}
.navbar-header .navbar-brand{
  padding:5px 0px 0px 10px;
}
.hidden {
    display: none;
}

/*for flexes*/
.restaurant {
    background-color: white;
    border: 1px solid orange;
    box-shadow: 2px 2px 2px gray;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 3px;
}

.rest-wrapper {
    display: flex;
}

.rest-wrapper .image {
    margin-right: 1.5rem;
}

.rest-wrapper .image img {
    border-radius: 4px;
}

.rest-wrapper .rest-name a{
    font-size: 24px;
    /*color: #cb202d;*/
    color:darkorange;
}

.rest-wrapper .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1rem;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #89959B;
     flex: none;
     margin-right: 2rem;
}

.rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}


.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}
.bestDish .button{
  display:inline;
  float: right;
  color: white;
  font-size: 1.3rem;
}
.bestDish .button_get {
    background-color:#cb202d;
    border-radius: 4px;
    cursor: pointer;
}
.bestDish .button_view {
  position: absolute;
  padding: 0.54rem 1rem;
  margin: 0px 0px 0px -62px;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
}
.recommend button#myButton.btn.btn-primary{
  padding: 0.4rem 1rem;
    border:0;
    background-color: transparent;
}
/*my css*/
input.ng-invalid.ng-touched{
  border:1px solid red;
}
input.ng-valid{
  border:1px solid green;
}
.main1.active1{
  background-color:rgba(255,255,255,0.2);
}
.main.active1{
  background-image: url('img/Capture1.png');
  background-size: cover;
  background-position:bottom;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
.main
{
  background-color:#e3e3e3  ;
  /*background-position: center;*/
  width:100%;
  height:100%;
  min-width: 768px;
}
.carousel-inner img{
  max-height:600px;
  z-index: -1;
  position: relative;
  min-width: 600px;
  width: 1308px;
  margin:20px 20px 20px 20px;
}
/*for restaurant*/
.rest1{
  background-image: url('img/backn.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.rest1 .rest2{
  background-color: rgba(140,102,53,0.5);
  padding: 2px;
}
.rest {
    box-shadow: 2px 2px 2px gray;
    border: 1px solid lightgray;
    position: relative;
    width:60%;
    margin-left:15rem;
    margin-top: 15rem;
    margin-right:-105rem;
    min-width: 700px;
}
.rest-wrapper.wrapper1{
  display: block;
}
.rest-wrapper.wrapper1 .image img{
  width:101%;
  height:38rem;
  border-radius: 0;
  border: 1px solid brown;
}
.wrapper1 .rest-name{
  font-size: 3.8rem;
  padding: 5px 0px 15px 5px;
}
.wrapper1 .rating{
  margin: 18px 15px 5px 0px;
}
.wrapper1 .rest-category{
  padding: 12px 0px 0px 12px;
  font-size: 1.6rem;
}
.rest .rest-extra{
  font-size: 1.4rem;
  padding:15px 0px 20px 20px;
}
.rest .type{
  color:black;
}
.rest .value{
  color:#89959b;
}
.rest .ingredients{
  font-size: 1.8rem;
  margin: 50px 0px 0px 0px;
  text-align: center;
  background: url('img/Capture.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color:brown;
  padding-top:10px;
  padding-bottom: 10px;
}
.rest .ingredients li{
  list-style-type: none;
  padding: 3px;
}
.rest .recommend{
  padding: 15px;
  border-top: 1px solid #e7e7e7;
}
.rest .recommend .type{
  font-size: 2rem;
}
.rest .recommend .value{
  font-size: 2.2rem;
  }
.rest .recommend .bestImage img{
  margin:34px 0px 0px 0px;
  width: 100%;
  border:2px  solid #cb204f;
}
