*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url('https://anandipaliwal.files.wordpress.com/2015/06/food-table-relisted.jpg');
    background-size: cover;
    min-height: 300px;
    border-radius: 4px;
    color: white;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .navbar {
    color: white;
    /*background-color: #cb202d;*/
    background: transparent;
    border:0;
}

#app .navbar a {
    color: orange;
}

.hidden {
    display: none;
}

#app .login {
    background: url('back.jpg');
    background-size: cover;
    background-color: #cb202d;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app .login1{
  background-color: rgba(50,150,150,0.35);
  height:100%;
  width:100%;
  /*width:inherit;*/
}
#app .login1 .logo{
  display: flex;
  justify-content: center;
  margin-top: 14rem;
}

.animated.bounceInUp{
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: 'Artifika',serif;
  text-align: center;
  font-size: 120px;
  color:black;
}
.animated.bounceInUp h1{
  font-size: 50px;
  font-weight: bold;
  color:rgba(38,12,9,1);
  margin-bottom: 5px;
}

#app .login1 .logo img{
  width:40%;
  height:35%;
}

#app .login-form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255,255,255,0.8);
    box-shadow: 3px 5px 5px rgba(17,4,3,1);
    border: 1px solid black;
    padding: 1rem;
    padding-top: 0;
    margin-top: 14rem;
    text-align: center;
}

/*for flexes*/
.hero {
    margin-bottom: 2rem;
}

.restaurant {
    background-color: purple;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 3px;
}

.rest-wrapper {
    display: flex;
    font-family: sans-serif;
}

.rest-wrapper .image {
    margin-right: 1rem;
}

.rest-wrapper .image img {
    border-radius: 4px;
}

.rest-wrapper .rest-name {
    font-size: 24px;
    color: #cb202d;
}

.rest-wrapper .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1rem;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #89959B;
     flex: none;
     margin-right: 2rem;
}

.restaurant .rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 2px;
}


.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}

/*my css*/
input.ng-invalid.ng-touched{
  border:1px solid red;
}
input.ng-valid{
  border:1px solid green;
}


.main
{
  /*background-color: yellow;*/
  background: url('back3.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
