*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: #F3F3E8;
    font-family: 'Artifika',Helvetica, Arial, sans-serif;
    width:100%;
    height: 100%;
    font-size: 10px;
}
@media all and (max-width: 768px){
  .animated.bounceInUp{
    margin-top: 30px;
    font-size: 5rem;
  }
  .animated.bounceInUp h1{
    font-size: 22px;
    margin-bottom: 30px;
  }

  #app .login1 .logo img{
    height:60px;
    width:230px;
    margin-top: 14rem;
  }
  #app .login-form img{
      width:40%;
      margin-top:-8px;
  }

  #app .login-form {
      width: 60%;
      height:56%;
      padding: 2rem 2rem 2rem 2rem;
      margin-top: 10rem;
  }

  .login-form h2{
      font-size: 180%;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    form div div{
      font-size: 0.8rem;
      margin-bottom: -10px;
    }
    .form-group label{
      font-size:1.1rem;
    }
    .form-group input.form-control{
      font-size: 10px;
      height:20px;
    }
    .login-form .btn.btn-default{
      font-size: 12px;
      margin-top: 1.5rem;
      padding:4px 6px 4px 6px;
    }
    /*home*/
    .navbar-header button{
      margin:15px 100px 0px 0px;
      background-color: orange;
    }

    .restaurant.rest {
      margin:110px 0px 0px 0px;
    }
    .carousel-inner{
        margin-left:-10px;
    }
    .row .Tracker{
      width:768px;
      height:10%;
      position: absolute;
    }
}
@media only screen and (max-width:500px){
  ul.nav.navbar-nav.navbar-right{
    background-color: lightgray;
    width:30%;
    margin-left:460px;
    z-index:2;
    position: absolute;
  }
  .navbar-default .navbar-collapse{
    border:0;
  }
  ul.nav.navbar-nav.navbar-right li a{
    border-bottom: 1px solid gray;
    padding-left:20px;
  }
}
@media only screen and (min-width: 768px){
  #app .login1 .logo img{
    width:40%;
    height:35%;
    margin-top: 14rem;
  }
  .animated.bounceInUp h1{
    font-size: 5.8rem;
    margin-bottom: 5px;
  }

  .animated.bounceInUp{
    font-size: 12rem;
  }

  #app .login-form {
      width: 26%;
      padding: 2rem 2rem 2rem 2rem;
      margin-top: 10rem;
  }
  form div div{
    font-size: 13px;
  }
  .login-form .btn.btn-default{
    width:99px;
    font-size: 15px;
  }
  /*home page*/

}
#app .login {
    width:100%;
    height:100%;
    background: url('img/back.jpg');
    background-size: cover;
    background-color: #cb202d;
    height: 100vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#app .login1{
  background-color: rgba(50,150,150,0.35);
  height:100%;
  width:100%;
  /*width:inherit;*/
}
#app .login1 .logo{
  display: flex;
  justify-content: center;
}
.animated.bounceInUp{
  margin-top: 30px;
  letter-spacing: 2px;
  font-family: 'Artifika',serif;
  text-align: center;
  color:black;
}
.animated.bounceInUp h1{
  font-weight: bold;
  color:rgba(38,12,9,1);
}
#app .login-form {
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255,255,255,0.8);
    box-shadow: 3px 5px 5px rgba(17,4,3,1);
    border: 1px solid black;
    text-align: center;
    font-family: 'Artifika',serif;
}

.login-form h2{
  color:rgba(24,56,28,1);
}
form div div{
  text-align: left;
  padding-left:0.7rem;
  color:gray;
}
.login-form .btn.btn-default{
  background-color: rgba(244,79,2,0.8);
}
.login-form .btn.btn-default:hover,.login-form .btn.btn-default:focus{
  color:black;
}


/*for header*/
.hero {
    margin-bottom: 2rem;
    font-size: 5rem;
    color: white;
    display: flex;
    margin-top:4rem;
}
#app .navbar {
    /*background:#e3e3e3;*/
    /*background: transparent;*/
    background: linear-gradient(360deg,#c3c3c3,white);
    border:0;
    padding-left: 15px;
}
#app .navbar.active{
  background: linear-gradient(360deg,rgba(13,0,0,0.8),#c3c3c3);
  border-bottom: 1px solid gray;
  /*width:20px;*/
  height: 62px;
  padding:0px 30px 0px 30px;
}
#app .navbar.active li a{
  color:white;
  padding-top: 22px;
  }
#app .navbar a {
    color: orange;
    /*margin-top: 10px;*/
    font-size: 1.6rem;
    font-weight: bold;
}
.navbar-header .navbar-brand{
  padding:5px 0px 0px 10px;
}
.hidden {
    display: none;
}

/*for flexes*/
.restaurant {
    background-color: white;
    border: 2px solid rgba(15,2,5,0.1);
    box-shadow: 3px 3px 3px gray;
    position: relative;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 2.4rem;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 1.2rem;
}

.rest-wrapper {
    display: flex;
}

.rest-wrapper .image {
    margin-right: 1.8rem;
}

.rest-wrapper .image img {
    border-radius: 5px;
    width:125px;
    height: 125px;
    margin-bottom: 1rem;
}

.rest-wrapper .rest-name a{
    font-size: 26px;
    /*color: #cb202d;*/
    color:darkorange;
}
.rest-wrapper .rest-name a:hover{
  text-decoration: none;
  color:brown;
  font-size: 30px;
}
.rest-wrapper .rest-category {
    color: #89959B;
    text-transform: uppercase;
}

.rest-wrapper .rest-address {
    color: #89959B;
}

.rest-extra {
    display: flex;
    margin-top: 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 1.4rem;
    font-size: 1.4rem;
    border-bottom:1px solid #e3e3e3;
}

.rest-extra .type {
    text-transform: uppercase;
     color: #89959B;
     flex: none;
     margin-right: 2rem;
}
.function div{
  cursor:pointer;
  width:300px;
  text-align: center;
  border-left: 1px solid lightgray;
  padding: 10px;
}
.function{
  display: inline-flex;
  justify-content: center;
  color: rgba(23,23,23,0.6);
  font-size: 1.6rem;
  margin:0px;
  padding: 0px;
}
.rating {
    color: white;
    background-color: #5BA829;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0.5rem 1rem;
    font-size: 17px;
    border-radius: 4px;
    letter-spacing: 2px;
}


.search-bar {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-bar form .input-wrapper {
   flex: 1;
   margin-right: 1rem;
}
/*my css*/
input.ng-invalid.ng-touched{
  border:1px solid red;
}
input.ng-valid{
  border:1px solid green;
}
.main1.active1{
  background-color:rgba(255,255,255,0.2);
}
.main.active1{
  background-image: url('img/Capture1.png');
  background-size: cover;
  background-position:bottom;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
.main
{
  background-color:#e3e3e3  ;
  /*background-position: center;*/
  width:100%;
  height:100%;
  min-width: 768px;
}
@keyframes floatBubble{
 0% {left:60px;}
   100% {left :-20px;}
}
.carousel-inner img{
  max-height:600px;
  z-index: -1;
  position: relative;
  min-width: 600px;
  width: 1308px;
  margin:20px 20px 20px 20px;
  animation: floatBubble 4s normal ease-out ;
  /*animation-directon: normal;*/
}
.carousel-inner>.item{
   /*disables white flash*/
   -webkit-transition: -webkit-transform 1s ease-out;
   -o-transition: -o-transform 1s ease-out;
   transition: transform 1s ease-out;
}

/*for restaurant*/
.rest1{
  background-image: url('img/backn.jpg');
  background-size: cover;
  /*width:100%;*/
  min-width: 700px;
  background-position: bottom;
  background-attachment: fixed;
}
.rest1 .rest2{
  background-color: rgba(140,102,78,0.35);
  /*background-color: rgba(0,0,0,0.1);*/
  /*background-color: rgba(255,255,255,0.2);*/
  padding: 2px;
  display:flex;
}
.rest {
    position: relative;
    width:70%;
    margin-left:5rem;
    margin-top: 8rem;
    /*margin-right:-105rem;*/
    min-width: 700px;
    background: transparent;
    border:0;
}
.rest-wrapper.wrapper1{
  display: block;
  box-shadow: 2px 3px 3px brown;
  border: 0.1rem solid brown;
  border-radius: 10px;
  background: white;
  padding:24px;
}
.rest-wrapper.wrapper1 .image img{
  width:102%;
  height:38rem;
  /*border-radius: 0;*/
  border: 1px solid brown;
}
.wrapper1 .rest-name{
  font-size: 3.9rem;
  text-shadow: 2px 2px 2px orange;
  color:darkorange;
  padding: 5px 0px 15px 5px;
  cursor: pointer;
}
.wrapper1 .rating{
  margin: 40px 30px 0px 0px;
}
.wrapper1 .rest-category{
  padding: 12px 0px 0px 12px;
  font-size: 1.8rem;
}
.rest #details{
  background:#fafafa;
  margin-top: 28px;
  border-radius:8px;
  border:2px solid lightGray;
  padding:20px;
}
.rest .rest-extra{
  font-size: 1.45rem;
  padding:15px 0px 20px 20px;
}
.rest .type{
  color:black;
}
.rest .value{
  color:#89959b;
}

.rest .features{
  display: flex;
  font-size: 2.1rem;
  border-top: 1px solid #e3e3e3;
  padding:20px 0px 20px 0px;
}
.rest .feature{
  margin-left:42px;
  /*margin-right: 135px;*/
  margin-right: auto;

}
.rest .feature div{

}
.rest .feature ul{
  font-size: 1.4rem;
  color:rgba(0,12,0,0.7);
  list-style-image:url('img/tick.png');
  /*list-style-type:no;*/
  margin-left: -18px;
}
.rest .ingredients{
  font-size: 1.8rem;
  margin: 50px 0px 0px 0px;
  text-align: center;
  background: url('img/Capture.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  color:brown;
  padding-top:10px;
  padding-bottom: 10px;
}
.rest .ingredients li{
  list-style-type: none;
  padding: 3px;
}
.rest .recommend{
  padding: 30px;
  border-top: 5px solid red;
  background-color:rgba(255,255,255,0.85);
  border-radius:15px;
  margin-top:-10px;
}
.rest .recommend .type{
  font-size: 2.6rem;
}
.rest .recommend .val{
  font-size: 1.7rem;
  margin:0px 0rem 1rem 0.5rem;
  color: #89959b;
}
.rest .recommend #type1{
    font-size: 1.9rem;
    color: black;
}
.rest .recommend .value{
    font-size: 3rem;
    padding-left: 2rem;
    color:darkorange;
  }
.rest .recommend .bestImage img{
  margin:30px 0px 30px 0px;
  width: 100%;
  border:2px  solid #cb204f;
}

.bestDish .button{
  display:inline;
  float: right;
  color: white;
  font-size: 1.3rem;
}
.bestDish .button_get {
    background-color:#cb202d;
    border-radius: 4px;
    cursor: pointer;
}
.recommend button#myButton.btn.btn-primary:hover {
    color:#cb202d;
    background-color: white;
    border:2px solid #cb202d;
}
.bestDish .button_view {
  position: absolute;
  padding: 0.54rem 1rem;
  margin: 0px 0px 0px -80px;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
}
.bestDish .button_view:hover {
    color:green;
    background-color: white;
    border: 2px solid green;
}
.recommend button#myButton.btn.btn-primary{
  padding: 0.4rem 1rem;
    border:0;
    background-color: transparent;
}
/*Tracker*/
.row{
  max-width: 1362px;
}
.Tracker{
  /*background-color: #fafafa;*/
  margin:10rem 0px 0px 0px;
  position: relative;
  /*min-width: 8px;*/
  /*width:5px;*/
  padding: 10px 40px 10px 10px;
  height: 200px;
}
.check{
  background-color: #fafafa;
  padding: 12px 10px 10px 10px;
  font-size: 1.9rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.check #track{
  background-color: orange;
  height: 35px;
  text-align: center;
  padding-top: 4px;
  font-size: 1.9rem;
  margin-top: 5px;
  cursor: pointer;
  border-radius:2px;
}
.check #track:hover{
  border:1px solid brown;
  color: darkorange;
  background-color:rgba(244,113,66,1);
}
.check a{
  color:white;
  text-decoration: none;
}
.check div{
  margin-top:8px;
  font-size: 1.4rem;
  text-align: center;
}
