<div class="login" ng-controller="loginController">
  <div class="login1">
      <div class="logo1 animated">
        <div class="logo animated bounceInDown">
          <img src="img/foodies_logo.png">
        </div>
        <div class="animated bounceInUp">
          <h1>eat good, eat Exciting</h1>
          <span class="glyphicon glyphicon-menu-down animated bounce infinite" aria-hidden="true"></span>
        </div>
      </div>
      <div class="login-form hidden animated ">
        <img src="img/1.gif">
        <h2> Login </h2>&nbsp;
        <form name="LoginForm">
            <div class="form-group">
                <label for="user-email">Email address</label>
                <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" required="" ng-model="user.email">
                <div ng-show="LoginForm.email.$error.required">Required!</div>
                <!--  $error is an object that is added by angular whenevr there is an error in input element-->
                <div ng-show="LoginForm.email.$error.email">This doesn't look like a valid email.</div>
            </div>
            <div class="form-group">
                <label for="user-password">Password</label>
                <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password" ng-minlength="6">
                <div ng-show="LoginForm.password.$error.minlength">Password must be atleast 6 characters long.</div>
                <div ng-show="LoginForm.password.$error.required">Please enter password</div>
            </div>
            <!-- <div class='welcome-message'>Welcome, {{email}}</div> -->
            <!--double curly braces are used to display the value of models in html, it is Data-Binding -->
            <button type="submit" class="btn btn-default" ng-disabled="LoginForm.$invalid" ng-click="gotoHome()">Log in</button>
        </form>
    </div>
  </div>
</div>
