<div  class="rest1" ng-controller="restController">
  <div class="rest2 row">
<!--
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div> -->
    <div class="restaurant rest col-xs-12 col-md-9"  ng-if="restaurant.name">
        <div class="rest-wrapper wrapper1">
            <div class="rest-name">
            <strong>{{restaurant.name}}</strong>
            </div>
            <div class="rating">
                <strong>{{restaurant.vote}}</strong>
            </div>
            <div class="image">
                <img ng-src="{{restaurant.image}}">
            </div>
            <div class="rest-category">
                  <strong> {{restaurant.location}}</strong>
                   &nbsp;<span class="glyphicon glyphicon-record" aria-hidden="true">&nbsp</span>
                   <small>{{restaurant.category}} </small>
            </div>
        </div>
        <div id="details">
            <div class="rest-extra">
                <div class="type">
                    <div><small>Cuisines:</small></div>
                    <div><small>Cost for Two: </small></div>
                    <div><small>Opening Hours:</small></div>
                    <div><small>Address:</small></div>
                </div>
                <div class="value">
                    <div>{{restaurant.cuisines}}</div>
                    <div>₹{{restaurant.cost | number}}</div>
                    <div>{{restaurant.hours}}</div>
                    <div class="rest-address">{{restaurant.address}}</div>
                </div>
            </div>
            <div class="features">
              <div class="feature">
                <div><small>Highlights</small></div>
                  <ul>
                    <li ng-repeat="highlight in restaurant.Highlights">
                      {{highlight}}
                    </li>
                  </ul>
                </div>
                <div class="feature">
                  <div><small>Featured in Collections</small></div>
                  <ul style="color:#cb202d;list-style-image:none;">
                    <li ng-repeat="feature in restaurant.Featured_Collections">
                      {{feature}}
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        <div class="recommend">
            <div  class="type">
              <div>What People Love here ?</div>
              <div class="val"><small>{{restaurant.Recommend}}</small></div>
            </div>
            <div ng-if="restaurant.bestDish" class="bestDish value">
              <div id="type1"><small>Recommended:</small></div>
              <span>{{restaurant.bestDish.name}}</span>
              <div class="button">
                <div ng-click="show()" class="button_view"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbspView</div>
                <div ng-click="getIngredients(restaurant.bestDish.image)" class="button_get">
                  <button type="button" id="diabetes-tracking" name="get" data-loading-text="getting..." class="btn btn-primary" autocomplete="off">
                    Get Ingredients
                  </button>
                </div>
              </div>
              <div class="ingredients hidden" ng-if="ingredients">
                <ul>
                  <li id="recipe" ng-repeat="ingredient in ingredients">
                  {{ingredient}}
                  </li>
                </ul>
              </div>
              <div class="bestImage hidden">
                <img ng-src="{{restaurant.bestDish.image}}">
              </div>
            </div>
          </div>
        </div>

        <div class="Tracker col-xs-6 col-md-3">
          <div class="check">
              <span>&nbspAre you Foodie ?</span>
              <div id="track" ng-click="scrollTo('diabetes-tracking')">
                <a href=""  ng-click="getIngredients(restaurant.bestDish.image)" data-toggle="popover" data-trigger="hover"  data-content="Know about your dish - Get Ingredients by double click" data-placement="bottom">
                  Diabetes Tracker
                </a>
              </div>
              <div>Find whether the food is healthy for you !!</div>
              <div class="tracking hidden" ng-if="track">
                <ul>
                  <li ng-repeat="diabete in track">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red;"></span>&nbsp{{diabete}}
                  </li>
                </ul>
                <div class="healthy hidden">
                    This ingredients are harmful for your health.
                  <div>Please try to avoid this cuisine.</div>
                </div>
              </div>
              <div class="not_healthy hidden">
                <img src="img/tick.png">&nbsp
                <span>No harmful ingredient found.</span>
                <span>This cuisine is healthy for you.<span>
                  <div>Eat Delicious ...</div>
              </div>
          </div>
        </div>
        <div ng-hide="restaurant.name">404- Restaurant Not Found!!!</div>
    </div>
</div>
