<div  class="rest1" ng-controller="restController">
  <div class="rest2">
    <div class="restaurant rest"  ng-if="restaurant.name">
        <div class="rest-wrapper wrapper1">
            <div class="rest-name">
            <strong>{{restaurant.name}}</strong>
            </div>
            <div class="rating">
                <strong>{{restaurant.vote}}</strong>
            </div>
            <div class="image">
                <img ng-src="{{restaurant.image}}">
            </div>
            <div class="rest-category">
                  <strong> {{restaurant.location}}</strong>
                   &nbsp;
                   <small>{{restaurant.category}} </small>
            </div>
        </div>
        <div class="rest-extra">
            <div class="type">
                <div><small>Cuisines:</small></div>
                <div><small>Cost for Two: </small></div>
                <div><small>Opening Hours:</small></div>
                <div><small>Address:</small></div>
            </div>
            <div class="value">
                <div>{{restaurant.cuisines}}</div>
                <div>₹{{restaurant.cost | number}}</div>
                <div>{{restaurant.hours}}</div>
                <div class="rest-address">{{restaurant.address}}</div>
            </div>
        </div>
        <div class="features">
          <div class="feature">
            <div><small>Highlights</small></div>
              <ul>
                <li ng-repeat="highlight in restaurant.Highlights">
                  {{highlight}}
                </li>
              </ul>
            </div>
            <div class="feature">
              <div><small>Featured in Collections</small></div>
              <ul style="color:#cb202d;list-style-image:none;">
                <li ng-repeat="feature in restaurant.Featured_Collections">
                  {{feature}}
                </li>
              </ul>
            </div>
          </div>
        <div ng-if="restaurant.bestDish" class="recommend">
            <div  class="type">
              <div>What People Love here ?</div>
              <div class="val"><small>{{restaurant.Recommend}}</small></div>
              <div id="type1"><small>Recommended:</small></div>
            </div>
            <div class="bestDish value">
              <span>{{restaurant.bestDish.name}}</span>
              <div class="button">
                <div ng-click="show()" class="button_view">View</div>
                <div ng-click="getIngredients(restaurant.bestDish.image)" class="button_get">
                  <button type="button" id="myButton" data-loading-text="getting..." class="btn btn-primary" autocomplete="off">
                    Get Ingredients
                  </button>
                </div>
              </div>
              <div class="ingredients hidden" ng-if="ingredients">
                <ul>
                  <li ng-repeat="ingredient in ingredients">
                  {{ingredient}}
                  </li>
                </ul>
              </div>
              <div class="bestImage hidden">
                <img ng-src="{{restaurant.bestDish.image}}">
              </div>
            </div>
          </div>
      <div ng-hide="restaurant.name">404- Restaurant Not Found!!!</div>
    </div>
</div>
