<div ng-controller="restController">
  <div class="rest1">
    <div class="restaurant rest"  ng-if="restaurant.name">
        <div class="rest-wrapper wrapper1">
            <div class="rest-name">
            <strong>{{restaurant.name}}</strong>
            </div>
            <div class="rating">
                <strong>{{restaurant.vote}}</strong>
            </div>
            <div class="image">
                <img ng-src="{{restaurant.image}}">
            </div>
            <div class="rest-category">
                  <strong> {{restaurant.location}}</strong>
                   &nbsp;
                   <small>{{restaurant.category}} </small>
            </div>
        </div>
        <div class="rest-extra">
            <div class="type">
                <div><small>Cuisines:</small></div>
                <div><small>Cost for Two: </small></div>
                <div><small>Hours:</small></div>
                <div><small>Address:</small></div>
                <div ng-if="restaurant.bestDish"><small>Recommended: </small></div>
            </div>
            <div class="value">
                <div>{{restaurant.cuisines}}</div>
                <div>₹{{restaurant.cost | number}}</div>
                <div>{{restaurant.hours}}</div>
                <div class="rest-address">{{restaurant.address}}</div>
                <div class="bestDish" ng-if="restaurant.bestDish">
                    <span>{{restaurant.bestDish.name}}</span>
                    <div ng-click="getIngredients(restaurant.bestDish.image)" class="button">Get Ingredients</div>
                </div>
            </div>
        </div>

        <div class="ingredients" ng-if="ingredients">
            <ul>
            <li ng-repeat="ingredient in ingredients">
            {{ingredient}}
            </li>
          </ul>
        </div>
    </div>
    <div ng-hide="restaurant.name">404- Restaurant Not Found!!!</div>
  </div>
</div>
